.external_links .slick-slide img{
    max-width: 70px;
}
.card-gallery img {
    object-fit: cover;
    height: 200px;
}
.banner_slider .carousel-item img {
  height: 600px;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .banner_slider .carousel-item img {
      height: 370px;
}  
@media only screen and (max-width: 575px) {
.banner_slider .carousel-item img {
    height: 318px;
}
.banner_slider{
    padding-top: 50px;
}
}